body{
    margin: 0;
    background-color: #bde7d1;
    font-family: 'Roboto', sans-serif;
}
p.center{
    text-align: center;
    display: flex;
}

div.kotak-header{
    //background-color: red;
    width: 100%;
    height: 100px;
    position: relative;
}

div.fixed{
    position: fixed;
    width: 100%;
    height: auto;
}

div.kotak-header ul{
    list-style: none;
    margin: 0;
    display: block;
    overflow: hidden;
    background-color: #68D89B;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
}

div.kotak-header ul.menu li{
    float: left;
}
div.kotak-header ul.menu li.right{
    float: right;
}

div.kotak-header li a{
    padding: 25px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: black;
}

div.kotak-header li a:hover{
   background-color: #4F9D69;
   color: white;
}
 
div.kotak-footer{
    width: 100%;
    height: 50px;
    background-color: #68D89B;
    text-align: center;
    display: flex;
    justify-content: center;
}
div.font{
    margin: 50px;
    text-align:left;
}



span.identitas-footer{
    font-size: 20px;
}

div.jumbotron img{
    
    width: 150px;
    border: 50px; solid: #333;

}
